.night-mode-btn {
    position: fixed;
    top: 80px; 
    right: 0; 
    width: 50px;
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.596);
    background-color: #EEEEEE;
    cursor: pointer;
}