main {
    padding-top: 65px;
    position: relative;
    background-color: var(--background-section);
    min-height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .6s background-color ease-out;
}