<section class="pricing">
  <header>
    <img src="../../assets/imgs/pricing-header-mobile.jpg" alt=""> 
  </header>
  <h1 class="pricing__title">Cennik</h1>
  <h2 class="pricing__description">Kasa kina czynna jest 30 minut przed pierwszym seansem w danym dniu.</h2>
  <div class="reservation-box">
    <h3 class="reservation-box__title">Rezerwacja biletów</h3>
    <div class="reservation-box__option">
      <p class="reservation-box__option-description">Bilety indywidualne:</p>
      <p class="reservation-box__option-phone-number">18 26 626 24</p>
    </div>
    <div class="reservation-box__option">
      <p class="reservation-box__option-description">Bilety grupowe:</p>
      <p class="reservation-box__option-phone-number">601 466 195‬</p>
    </div>
    <p class="reservation-box__description">Grupa min. 15 osób. <br> Na każde 15 osób jeden opiekun darmowy</p>
  </div>
  <div class="movies-pricing">
    <div class="movies-pricing__option">
      <div class="img-box">
        <img src="../../assets/imgs/2d-movie-ticket.jpg" alt="">
      </div>
      <div class="text-info">
        <p class="text-info__title">Film 2D</p>
        <div class="prices">
          <div>
            <p class="reduced-price">16 zł</p>
            <small class="reduced-description">Ulgowy</small>
          </div>
          <div>
            <p class="normal-price">19 zł</p>
            <small class="normal-description">Normalny</small>
          </div>
        </div>
      </div>
    </div>
    <div class="movies-pricing__option">
      <div class="img-box">
        <img src="../../assets/imgs/3d-movie-ticket.jpg" alt="">
      </div>
      <div class="text-info">
        <p class="text-info__title">Film 3D</p>
        <div class="prices">
          <div>
            <p class="reduced-price">17 zł</p>
            <small class="reduced-description">Ulgowy</small>
          </div>
          <div>
            <p class="normal-price">20 zł</p>
            <small class="normal-description">Normalny</small>
          </div>
        </div>
      </div>
    </div>
    <div class="movies-pricing__option">
      <div class="img-box">
        <img src="../../assets/imgs/group-movie-ticket.jpeg" alt="">
      </div>
      <div class="text-info">
        <p class="text-info__title">Oferta dla grup</p>
        <div class="prices">
          <div>
            <p class="reduced-price">12 zł</p>
            <small class="reduced-description">2D</small>
          </div>
          <div>
            <p class="normal-price">13 zł</p>
            <small class="normal-description">3D</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>