<section class="cooperation">
  <header>
    <img src="../../assets/imgs/cooperation-header-mobile.jpg" alt=""> 
  </header>
  <h1 class="cooperation__title">Reklama</h1>
  <h2 class="cooperation__description">Jesteś zainteresowany oretą reklamową Kina Tatry? Zapraszamy Państwa do kontaktu!</h2>
    <div class="cooperation__contact-box">
      <h3>Osoba kontaktowa</h3>
      <div class="text-box">
        <p>Dawid Rapacz</p>
        <p>Kino Tatry</p>
        <p>ul. Jana Kazimierza 17</p>
        <p>34-400 Nowy Targ</p>
      </div>
       <div class="text-box">
        <p>NIP: 735-002-03-43</p>
        <p>kom. 728 387 472</p>
        <p>www.kino.nowytarg.pl</p>
        <p>kinotatry@nowytarg.pl</p>
       </div>
    </div>
    <h2 class="cooperation__special-title">Specjalne okazje</h2>
    <h3 class="cooperation__special-description">Chciałbyś oglądnąć swój ulubiony film w gronie swoich przyjaciół, zorganizować swój własny nocny maraton filmowy
      czy może zagrać na wielkim ekranie w swoją ulubioną grę?</h3>
      <div class="cooperation__special-box">
        <p>Zaparszamy do kontaktu:</p>
        <p> kinotatry@nowytarg.pl</p>
        <p>728 387 472</p>
      </div>
</section>